

body {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0b0d;
  }

  h1 {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: cyan;
  }
  .buy,
   .poll {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    position: absolute;
    top: 2rem;
  }


  .buy {
    left: 2rem;
  }
  .poll {
    right: 2rem;
  }
